  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
  }
  body {
      overflow-x: hidden;
  }
  section {
      width: 100%;
      height: 100vh;  
  }
 
   .test{
      background-color: rgb(255, 0, 238);
  }
     .about{
      background-color: aqua;
  }

  .horizontal-container {
      width: 100%;
  }

  .store {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      position: relative;
      overflow: hidden;
      background: #111;
      z-index: 2;
      box-shadow: 0px -20px 50px rgba(0, 0, 0, 0.5);
  }

  .horizontal-container {
      display: flex;
      gap: 100px;
      padding: 50px;
  }

  .box {
      flex: 0 0 25%;
      /* حجم كل صندوق بالنسبة للعرض */
      height: 60vh;
      /* يغطي ارتفاع الشاشة */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5rem;
      color: #fff;
      background: #222;
      border-radius: 20px;
      border: 1px solid #000;
  }