.navbar {
    background-color: aqua;
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
   justify-content: space-between;
    align-items: center;
    padding: 0 20px;

}
.navbarr a{
     
     gap: 20px;
     padding: 10 20px;
     background-color: rgb(255, 0, 0);

}

.right-items {
  display: flex;
  gap: 15px; 
}
.right-items div {
  background-color: yellow;
  padding: 0px 20px;
}
