:root {
  --color-black: #000000;/* أسود | نصوص قوية / عناوين */
  --color-white: #ffffff;/* أبيض | خلفيات نظيفة */
  --color-cream: #FFF8E7; /* كريمي دافئ | خلفيات راقية للمكتبة */
  --color-brown: #6B4F3A;/* بني يشبه خشب المكتبة | للعناوين والرأس */
  --color-gold: #D4A017; /* ذهبي فاخر | إبراز العناصر المهمة */
  --color-soft-yellow: #FFE8A3;/* أصفر باهت دافئ | خلفيات خفيفة */
  --color-orange: #FF922B; /* برتقالي لطيف | زر شراء / CTA */
  --color-red: #E63946; /* أحمر تنبيه | خطأ أو تحذير */
  --bg-product: #FFF5DA;/* خلفية تفاصيل الكتاب */
  --bg-contact: #FFFAF0;/* خلفية صفحة الاتصال */
  --text-soft: #444444;/* نص ثانوي رمادي أنعم */
  --text-light: #ffffff;/* نص أبيض للفوتر */
  --text-highlight: var(--color-gold);/* إبراز كلمة أو عنوان */
}

:root {
  --font-primary:"Inter";
  --font-secondry: "Merriweather Sans";
}